<div id="divProjetsTechnos">
    <h2>Projets & technos</h2>

    <div id="technoBar" class="mt-5 d-flex justify-content-around flex-wrap">
        <img class="logoTechnosSize" src="media/logos/logo-html.png" alt="HTML">
        <img class="logoTechnosSize" src="media/logos/logo-css.png" alt="CSS">
        <img class="logoTechnosSize" src="media/logos/logo-bootstrap.png" alt="Bootstrap">
        <img class="logoTechnosSize" src="media/logos/logo-js.png" alt="JavaScript">
        <img class="logoTechnosSize" src="media/logos/logo-jquery.png" alt="JQuery">
        <img class="logoTechnosSize" src="media/logos/logo-symfony.png" alt="Symfony">
        <img class="logoTechnosSize" src="media/logos/logo-php.png" alt="PHP">
        <img class="logoTechnosSize" src="media/logos/logo-mysql.png" alt="MySQL">
    </div>


    <div id="projectsCards" class="mt-5 d-flex justify-content-around flex-wrap">

        <div class="card">
            <h2 class="card-title my-3">Site e-commerce Harry Potter</h2>
            <video controls class="projectCardVideo mx-auto">
                <source src="media/videos/site_harry-potter.mp4" type="video/mp4">
            </video>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <!--                <a href="#" class="btn btn-info" target="_blank" rel="noopener">Visiter le site</a>-->
                <a href="https://github.com/Noemie123"
                   target="_blank" rel="noopener"><img class="logoSize" src="media/logos/logo-github.png" alt="Github"></a>
            </div>
        </div>

        <div class="card">
            <h2 class="card-title my-3">Belle au Naturel</h2>
            <video controls class="projectCardVideo mx-auto">
                <source src="..." type="video/mp4">
            </video>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-info" target="_blank" rel="noopener">Visiter le site</a>
                <a href="https://github.com/Noemie123"
                   target="_blank" rel="noopener"><img class="logoSize" src="media/logos/logo-github.png" alt="Github"></a>
            </div>
        </div>

        <div class="card">
            <h2 class="card-title my-3">Alertez-Moi</h2>
            <video controls class="projectCardVideo mx-auto">
                <source src="..." type="video/mp4">
            </video>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <!--                <a href="#" class="btn btn-info" target="_blank" rel="noopener">Visiter le site</a>-->
                <a href="https://github.com/Noemie123"
                   target="_blank" rel="noopener"><img class="logoSize" src="media/logos/logo-github.png" alt="Github"></a>
            </div>
        </div>

        <div class="card">
            <h2 class="card-title my-3">Template pour agence Immobilière</h2>
            <video controls class="projectCardVideo mx-auto">
                <source src="..." type="video/mp4">
            </video>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <!--                <a href="#" class="btn btn-info" target="_blank" rel="noopener">Visiter le site</a>-->
                <a href="https://github.com/Noemie123"
                   target="_blank" rel="noopener"><img class="logoSize" src="media/logos/logo-github.png" alt="Github"></a>
            </div>
        </div>

        <div class="card">
            <h2 class="card-title my-3">Démineur</h2>
            <video controls class="projectCardVideo mx-auto">
                <source src="media/videos/demineur.mp4" type="video/mp4">
            </video>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-info" target="_blank" rel="noopener">Visiter le site</a>
                <a href="https://github.com/Noemie123"
                   target="_blank" rel="noopener"><img class="logoSize" src="media/logos/logo-github.png" alt="Github"></a>
            </div>
        </div>

        <div class="card">
            <h2 class="card-title my-3">Pendu</h2>
            <video controls class="projectCardVideo mx-auto">
                <source src="media/videos/site_dave-the-developer.mp4" type="video/mp4">
            </video>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="http://projectnuwanda.000webhostapp.com/" class="btn btn-info" target="_blank" rel="noopener">Visiter le site</a>
                <a href="https://github.com/Noemie123"
                   target="_blank" rel="noopener"><img class="logoSize" src="media/logos/logo-github.png" alt="Github"></a>
            </div>
        </div>

    </div>


</div>

<div id="divDiploForma">
    <h2>Diplômes & formation</h2>


    <div id="mainDiploForma">
        <div class="accordion" id="accordionDiploma">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                            2020 - Développeur Web & Web Mobile (Niveau 5)
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                     data-parent="#accordionDiploma">
                    <div class="card-body">
                        <p class="text-justify textIndent">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                            of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2019 - Préqualification aux métiers du numérique
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionDiploma">
                    <div class="card-body">
                        <p class="text-justify textIndent">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                            of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            2017 - Master 1 Langues & technologies (niveau 6)
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionDiploma">
                    <div class="card-body">
                        <p class="text-justify textIndent">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                            of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            2015 - Licence Langues, Littératures et Civilisations Étrangères Anglais (niveau 6)
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionDiploma">
                    <div class="card-body">
                        <p class="text-justify textIndent">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                            of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-5">
        <p>Baccalauréat littéraire obtenu en 2012.</p>
    </div>

</div>

<div id="divExpComp">
    <h2>Expériences & Compétences</h2>
</div>

<div id="divInfosPerso" class="container">
    <h2>Informations Personnelles</h2>

    <h3 class="mt-5">Présentation</h3>
    <p>Mon CV</p>
    <div id="mediaCV">
        <img src="media/cv-noemie-hoffmann.JPG" alt="CV Noémie Hoffmann">
    </div>
    <div id="dlCV">
        <a href="media/cv-noemie-hoffmann.pdf" title="cv" download="cv_noemie_hoffmann">Télécharger mon CV (pdf)</a>
    </div>

    <h3 class="mt-5">L'anglais</h3>
    <p class="text-justify textIndent">I acquired a good level of English as I have studied it for years. I always loved English,
        the language as well
        as
        the culture. I passed a degree of English literature and civilisation in 2015. After that, I worked in England
        for a
        while. I had an internship in a company in York and was working with the Human Resources. Among other things, I
        created posters about health for the employees. I also worked at improving the hiring system, listing all the
        steps
        to employment to see how long it takes and how to make it more efficient. In October 2015, I started working as
        a
        French teacher assistant in Leicester. I worked in three different schools, with students from 11 to 18 years
        old. I
        was helping them learning French, preparing them for exams or competitions and I also managed a little group to
        produce a newspaper in French.</p>
    <p class="text-justify textIndent">In my free time, I am also lucky enough to go to England quite often. I love the culture,
        the architecture, the
        landscape. When I am not travelling, I spend a lot of time using the language, be it by reading or watching
        videos
        or films in English. To be honest, I love languages in general. I speak a little bit of Spanish as well though I
        understand way better than I can speak. And during my studies as well as because of personal interest, I was
        able to start learning different languages such as Chinese, Dutch or even Polish. I cannot really speak any of
        those right now but I will try to make some time to learn a new language.</p>
    <p class="text-justify textIndent">But my forte stays English. I haven't got any language diploma to testify my current level
        (except from my degree) but I took some positioning test on the internet and it turns out I am either C1 or C2
        (European levels) which are the best levels you can have in a language. Thus, working with English doesn't bug
        me. I can easily find my ways, look for information as well as write or talk.</p>

    <h3 class="mt-5">Loisirs</h3>
    <p class="text-justify textIndent">J'essaie de passer le plus de temps possible avec mes amis et ma famille. Quand ce n'est pas
        le cas, je dessine ou alors je lis. Je joue aussi, souvent sur mon téléphone, principalement à des jeux de
        logique. J'aime tout ce qui est sudoku, mots croisés, rubixcube... J'écoute aussi beaucoup de musique. Je
        continue de pratiquer l'anglais aussi, en regardant des vidéos ou bien en lisant. </p>
</div>
