<div id="divProjetsTechnos">
    <h2>Projets & technos</h2>
</div>

<div id="divDiploForma">
    <h2>Diplômes & formation</h2>
</div>

<div id="divExpComp">
    <h2>Expériences & Compétences</h2>
</div>

<div id="divInfosPerso" class="container">
    <h2>Informations Personnelles</h2>

    <h3 class="mt-5">Présentation</h3>
    <p>Mon CV</p>
    <img src="media/cv-noemie-hoffmann.JPG" alt="CV Noémie Hoffmann">

    <h3 class="mt-5">L'anglais</h3>
    <p class="text-justify">I acquired a good level of English as I have studied it for years. I always loved English,
        the language as well
        as
        the culture. I passed a degree of English literature and civilisation in 2015. After that, I worked in England
        for a
        while. I had an internship in a company in York and was working with the Human Resources. Among other things, I
        created posters about health for the employees. I also worked at improving the hiring system, listing all the
        steps
        to employment to see how long it takes and how to make it more efficient. In October 2015, I started working as
        a
        French teacher assistant in Leicester. I worked in three different schools, with students from 11 to 18 years
        old. I
        was helping them learning French, preparing them for exams or competitions and I also managed a little group to
        produce a newspaper in French.</p>
    <p class="text-justify">In my free time, I am also lucky enough to go to England quite often. I love the culture,
        the architecture, the
        landscape. When I am not travelling, I spend a lot of time using the language, be it by reading or watching
        videos
        or films in English. To be honest, I love languages in general. I speak a little bit of Spanish as well though I
        understand way better than I can speak. And during my studies as well as because of personal interest, I was
        able to start learning different languages such as Chinese, Dutch or even Polish. I cannot really speak any of
        those right now but I will try to make some time to learn a new language.</p>
    <p class="text-justify">But my forte stays English. I haven't got any language diploma to testify my current level
        (except from my degree) but I took some positioning test on the internet and it turns out I am either C1 or C2
        (European levels) which are the best levels you can have in a language. Thus, working with English doesn't bug
        me. I can easily find my ways, look for information as well as write or talk.</p>

    <h3 class="mt-5">Loisirs</h3>
    <p class="text-justify"></p>
</div>
